@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

:root {
    --font-color: rgb(255, 255, 255);
    --buttons: rgba(114, 114, 114, 0.644);
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 0 30px 100px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.bg-video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    z-index: -1;
    pointer-events: none;
}


nav {
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    height: 80px;
    position: fixed;
    width: 96%;
    padding: 0 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

nav.scrolled {
    height: 60px;
    width: 76%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    height: 80px;
    padding: 0 20px;
    margin: 0 11%;
    align-items: center;
    justify-content: center;
}

nav .left p {
    transition: font-size 0.3s ease;
}

nav.scrolled .left p {
    font-size: 24px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.right ul{
    display: flex;
    list-style: none;
}

.right ul li a {
    color: var(--font-color);
    margin-right: 50px;
    position: relative;
}

.left p {
    color: var(--font-color);
    font-size: 30px;
    font-weight: 600;
}

.navigation ul li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--font-color);
    transition: width 0.3s ease;
}

.navigation ul li a:hover::after {
    width: 100%;
}

/* hero section */

.hero-content {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}


.about-container {
    margin-top: 50px;
}

.hero-content h2 {
    color: var(--font-color);
    font-size: 65px;
    text-align: center;
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
    margin-top: 50px;

}

.hero-content p {
    color: rgba(155, 155, 155, 0.671);
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.view-work,
.get-in-touch {
    padding: 20px 30px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.view-work {
    background-color: var(--buttons);
    border: none;
    color: var(--font-color);
    font-weight: 550;
    transition: all .4s ease;
}

.view-work:hover {
    background-color: var(--font-color);
    transform: translateY(-2px);
    color: black;
    box-shadow:
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);
}

.get-in-touch {
    background: transparent;
    border: 2px solid var(--buttons);
    color: var(--font-color);
    font-weight: 550;
    transition: all .4s ease;
}

.get-in-touch:hover {
    background-color: var(--buttons);
    transform: translateY(-2px);
    box-shadow:
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);
}

/* About Section  */

#about {
    height: auto;
    color: white;
    background-color: #1a1a1a;
    padding: 70px 30px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-text {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.header-text h1 {
    font-size: 60px;
}

.header-text span {
    color: var(--font-color);
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
}

.about-card {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    width: 80%;
    gap: 5em;
    margin: 0 auto;
}

.about-info-left {
    width: 30%;
}

.who-am-i-card {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.466);
    border-radius: 10px;
    padding: 25px 30px;
    transition: all .4s ease;
}

.who-am-i-card h4 {
    margin: 15px 0 20px 0;
    color: var(--font-color);
    font-size: 30px;
}

.who-am-i-card:hover {
    border: 1.5px solid var(--buttons);
    transform: translateY(-4px);
    box-shadow:
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);

}

.what-drives-me-card {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.466);
    border-radius: 10px;
    padding: 25px 30px;
    margin-top: 50px;
    transition: all .4s ease;
}

.what-drives-me-card h4 {
    margin: 15px 0 20px 0;
    color: var(--font-color);
    font-size: 30px;
}

.what-drives-me-card:hover {
    border: 1.5px solid var(--buttons);
    transform: translateY(-4px);
    box-shadow:
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);
}

.about-info-right {
    height: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.466);
    border-radius: 10px;
    padding: 10px 50px 40px;
    transition: all .4s ease;
}

.about-info-right:hover {
    border: 1.5px solid var(--buttons);
    transform: translateY(-4px);
    box-shadow:
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);
}

.quick-facts h4 {
    margin: 10px 0 20px 0;
    color: var(--font-color);
    font-size: 30px;
}

.colored-list li::marker {
    color: var(--font-color);
}

.colored-list li {
    margin-bottom: 20px;
}

/* Projects Section */

#project {
    height: auto;
    display: flex;
}

.project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header-container {
    width: 100%;
    margin: 70px 40px 70px;
    align-items: center;
    text-align: center;
    height: 100px;
}

.header-container h1 {
    height: 40px;
    font-size: 60px;    
}

.header-container span {
    color: var(--font-color);
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
}

.header-container h1 {
    color: var(--font-color);
}

/* Grid Items */

.project-container {
    height: auto;
    margin: 0 auto;
    margin-bottom: 60px ;
    display: flex;
    padding: 2rem 1rem;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.grid-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "ecommerce task-management-system"
        "weather-dashboard portfolio-website"
        "social-media-dashboard permit-licensing-system"
        ;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.ecommerce { 
    background: #1a1a1a;
    color: white; 
    padding: 1rem; 
    border-radius: 20px; 
    border: 1.5px solid rgba(128, 128, 128, 0.466);
    transition: all.4s ease; }
.task-management-system { 
    background: #1a1a1a; 
    color: white; 
    padding: 1rem; 
    border-radius: 20px; 
    border: 1.5px solid var(--buttons); 
    transition: all.4s ease;}
.weather-dashboard { 
    background: #1a1a1a; 
    color: white; 
    padding: 1rem; 
    border-radius: 20px; 
    border: 1.5px solid rgba(128, 128, 128, 0.466); 
    transition: all.4s ease;}
.portfolio-website { 
    background: #1a1a1a; 
    color: white; 
    padding: 1rem; 
    border-radius: 20px; 
    border: 1.5px solid rgba(128, 128, 128, 0.466); 
    transition: all.4s ease;}
.social-media-dashboard { 
    background: #1a1a1a; 
    color: white; 
    padding: 1rem; 
    border-radius: 20px; 
    border: 1.5px solid rgba(128, 128, 128, 0.466); 
    transition: all.4s ease;}
.permit-licensing-system { 
    background: #1a1a1a; 
    color: white; 
    padding: 1rem; 
    border-radius: 20px; 
    border: 1.5px solid rgba(128, 128, 128, 0.466); 
    transition: all.4s ease;}

.ecommerce:hover, 
.task-management-system:hover,
.weather-dashboard:hover,
.portfolio-website:hover,
.social-media-dashboard:hover,
.permit-licensing-system:hover {
    border: 1.5px solid var(--buttons);
    transform: translateY(-5px);
    box-shadow:
    0 0 16px rgba(255, 255, 255, 0.5),
    0 0 32px rgba(255, 255, 255, -1),
    0 0 48px rgba(255, 255, 255, 0.20);
} 

.list-tech ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.list-tech ul li {
    margin-left: 20px;
    background-color: var(--buttons);
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--font-color);
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.github,
.live-demo {
    padding: 10px 15px;
    width: 30%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 550;
    transition: all .4s ease;
}

.github {
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--buttons);
}

.github:hover {
    background-color: var(--buttons);
    box-shadow: 
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);
}

.live-demo {
    background-color: var(--buttons);
    color: var(--font-color);
    border: 1px solid var(--buttons);
}

.live-demo:hover {
    background-color: var(--font-color);
    color: black;
    box-shadow: 
    0 0 12px rgba(255, 255, 255, 0.04),
    0 0 24px rgba(255, 255, 255, 0.00),
    0 0 36px rgba(255, 255, 255, 0.20);
}

.ecommerce {
    grid-area: ecommerce;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ecommerce span {
    font-size: 60px;
}

.ecommerce h4 {
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.ecommerce p {
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 20px;
}

.task-management-system {
    grid-area: task-management-system;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task-management-system h4 {
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.task-management-system p{
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 20px;
}

.task-management-system span {
    font-size: 60px;
}

.weather-dashboard {
    grid-area: weather-dashboard;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather-app h4 {
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.weather-dashboard span {
    font-size: 60px;
}

.weather-app p {
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 20px;
}

.portfolio-website {
    grid-area: portfolio-website;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio-website h4 {
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.portfolio-website span {
    font-size: 60px;
}

.portfolio-website p {
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 20px;
}

.social-media-dashboard {
    grid-area: social-media-dashboard;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-media-dashboard span {
    font-size: 60px;
}

.social-media-dashboard h4 {
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.social-media-dashboard p {
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 20px;
}

.permit-licensing-system {
    grid-area: permit-licensing-system;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.permit-licensing-system span {
    font-size: 60px;
}

.permit-licensing-system h4 {
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.permit-licensing-system p {
    font-size: 18px;
    color: var(--font-color);
    margin-bottom: 20px;
}

@media (max-width: 980px) {
    .about-card {
        flex-direction: column;
        padding: 20px 30px;
        width: 100%;
    }

    .about-info-left, .about-info-right {
        width: 100%;

    }

    .what-drives-me-card h4 {
        text-align: center;
    }

    .about-info-right {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .about-info-right ul {
        list-style: none;
        padding: 0;
    }

    .about-info-right ul li::before {
        content: "• ";
        color: #fff;
    }


    @media (max-width: 1080px) {
    .about-card {
        flex-direction: row;
        padding: 20px 30px;
        width: 100%;
    }

    .about-info-left, .about-info-right {
        width: 100%;

    }

    .what-drives-me-card h4 {
        text-align: center;
    }

    .about-info-right {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .about-info-right ul {
        list-style: none;
        padding: 0;
    }

    .about-info-right ul li::before {
        content: "• ";
        color: #fff;
    }

}
}

@media (max-width: 860px) {
    .left {
        display: none;
    }

    nav {
        width: 100%;
    }
}

@media (max-width: 768px) {
.grid-projects {
    grid-template-columns: 1fr;
    grid-template-areas:
        "ecommerce"
        "task-management-system"
        "weather-dashboard"
        "portfolio-website"
        "social-media-dashboard"
        "permit-licensing-system";
    padding: 0 20px;
}
}

